<div class="row">
  <div class="col-6 mx-auto">
    <div class="row" style="margin-top:150px;">
      <input type="text" class="form-control col-9" [(ngModel)]="panier">
      <button class="btn btn-primary col-3" (click)="paniers.push(panier)">Ajouter à la liste</button>
    </div>
  </div>
</div>

<div class="row" style="margin-top:100px;">
  <div class="list-group list-group-flush col-8 mx-auto">
  <app-enfant *ngFor="let p of paniers" [p]="p" (deleteP)="deletePanier($event)"></app-enfant>
  </div>
</div>